import React from 'react';
import { {{pascalCase name}}Props } from './{{pascalCase name}}.propTypes';
import styles from './{{pascalCase name}}.styles.scss';

export const {{pascalCase name}} = props => {
    return (
        <div>
            {{titleCase name}} component atom
        </div>
    );
};

{{pascalCase name}}.propTypes = {{pascalCase name}}Props.propTypes;
{{pascalCase name}}.defaultProps = {{pascalCase name}}Props.defaultProps;
